.btn-detalhes-no-workItens{
    color: red;
    background-color: rgb(223, 181, 181);
    border-color: black;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.red-line{
    background-color: rgb(171 139 139);
    text-align: center!important;
}

.td-button{
    width:1%;
    vertical-align: middle;
    text-align: center!important;

}