<div class="container">
    <div *ngIf="isAngular" id="divContentApontamentos">
        <button (click)="mudarParaReact()">Mudar para o React</button>
        <div class="row">
            <fieldset class="border p-2">
                <legend class="float-none w-auto">Filtros</legend>
                <div class="row">
                    <div class="col-4">
                        <h6 id="lblMes">Mês:</h6>
                        <select id="selMes" [(ngModel)]="mes" class="form-select" (change)="mudarParametrosFiltros()"
                            aria-label="Default select example">
                            <option [value]="1">Janeiro</option>
                            <option [value]="2">Fevereiro</option>
                            <option [value]="3">Março</option>
                            <option [value]="4">Abril</option>
                            <option [value]="5">Maio</option>
                            <option [value]="6">Junho</option>
                            <option [value]="7">Julho</option>
                            <option [value]="8">Agosto</option>
                            <option [value]="9">Setembro</option>
                            <option [value]="10">Outubro</option>
                            <option [value]="11">Novembro</option>
                            <option [value]="12">Dezembro</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <h6 id="lblAno">Ano:</h6>
                        <select id="selAno" [(ngModel)]="ano" class="form-select" (change)="mudarParametrosFiltros()"
                            aria-label="Selecione o Ano">
                            <option selected [value]="2022">2022</option>
                            <option [value]="2023">2023</option>
                            <option [value]="2024">2024</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <h6 id="lblResponsavel">Responsavel:</h6>
                        <select id="selResponsavel" [(ngModel)]="responsavel" class="form-select"
                            aria-label="Selecione o Responsavel" (change)="mudarParametrosFiltros()">
                            <option [value]="21">Tiago Oliveira</option>
                            <option [value]="20">Elzio Junior</option>
                            <option [value]="19">Victor Domingues</option>
                            <option [value]="18">Pedro Cezar</option>
                            <option [value]="17">Janine Carvalho</option>
                            <option [value]="16">Livia</option>
                            <option [value]="15">Polyanna Ribeiro</option>
                            <option [value]="14">Nelson</option>
                            <option [value]="13">Lucas</option>
                            <option [value]="12">Luis Henrique</option>
                            <option [value]="11">Andre Castro</option>
                            <option [value]="10">Gabriel Guerra</option>
                            <option [value]="9">Giulia Delarissa</option>
                            <option [value]="8">Joao Prata</option>
                            <option [value]="7">Leticia Fraga</option>
                            <option [value]="6">Marcelo Rabelo Lopes</option>
                            <option [value]="5">Thiago</option>
                            <option [value]="4">Vinícius Bandeira</option>
                            <option [value]="3">Vitor Tramontina</option>
                            <option [value]="2">William Dias</option>
                            <option selected [value]="1">Luiz Felipe</option>
                        </select>
                    </div>
                    <div class="col-4"></div>
                </div>
            </fieldset>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-12 mt-1">
                <div class="card-content">
                    <div class="row">
                        <table class="table title-small table-striped table-slim table-hover">
                            <thead>
                                <tr class="blue-grey">
                                    <th class="text-center" scope="col">Data</th>
                                    <th class="text-center" scope="col">Dia de Semana </th>
                                    <th class="text-center" scope="col">Responsável</th>
                                    <th class="text-center" scope="col"></th>
                                </tr>
                            </thead>
                            <tbody *ngIf="detailedAppointments.length > 0" class="f-13">
                                <tr *ngFor="let item of detailedAppointments">
                                    <td [ngClass]="item.workItens.length == 0 ? 'red-line': 'text-center'" scope="col">
                                        {{item.dataFormatada}}</td>
                                    <td [ngClass]="item.workItens.length == 0 ? 'red-line': 'text-center'" scope="col">
                                        {{item.diaDaSemana}}</td>
                                    <td [ngClass]="item.workItens.length == 0 ? 'red-line': 'text-center'" scope="col">
                                        {{item.teamMember}}</td>
                                    <td [ngClass]="item.workItens.length == 0 ? 'red-line': 'td-button'">
                                        <div class="btn-group">
                                            <button type="button"
                                                [ngClass]="item.workItens.length == 0 ? 'btn-detalhes-no-workItens': 'btn btn-secondary mt-1' "
                                                (click)="detalhes(item)">Detalhes</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="detailedAppointments.length == 0">
                                <tr>
                                    <td colspan="10">
                                        <p>Sem registros</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div [id]="rootId"></div>
</div>
<app-detalhes #detalhesModal [workItems]="workItems"></app-detalhes>